

<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>D-Shine- Jewellery, Diamond Business/shop Template</title>
     {% include 'nav.html' %}


     <section id="contactRow" class="row contentRowPad">
        <div class="container">
            <div class="row">
              <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="row m0" style="text-align: center;">
                        <h4 class="contactHeading heading" style="font-weight: bold;color: black;font-size: 25px;">Password changed successfully.</h4>
                    </div>
                    <div class="row m0 contactForm">
                      <h2 style="color: black;font-size: 25px; padding-bottom: 200px;">Your Password has been changed successfully <br><a href="">Click here</a> to login into the account with your new password. <br><br></h2>


                    </div>
                </div>
            </div>
        </div>
    </section>

{% include 'footer.html' %}
   </body>

</html>
