

<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>D-Shine- Jewellery, Diamond Business/shop Template</title>
     {% include 'nav.html' %}


     <section id="contactRow" class="row contentRowPad">
        <div class="container">
            <div class="row">
              <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="row m0" style="text-align: center;">
                        <h4 class="contactHeading heading" style="font-weight: bold;color: black;font-size: 25px;">Reset Password.</h4>
                    </div>
                    <div class="row m0 contactForm">
                      {% if token_fail %}

                        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="/accounts/password/reset/">new password reset</a></p>
                {% else %}
                      <h2 style="color: black;font-size: 25px;">Enter your new password in the below box and confirm it to rest your password.<br><br></h2>
                        <form class="row m0" id="contactForm" method="post" name="contact" action="{{ action_url }}">
                          {% csrf_token %}
                              <div class="row m0">
                                <label for="password" style="font-weight: bold;color: black;font-size: 25px;">Password</label>
                                <input type="password" class="form-control" name="password1" id="password1">
                            </div>
                            <div class="row m0">
                                <label for="confirm password" style="font-weight: bold;color: black;font-size: 25px;">  Confirm Password</label>
                                <input type="password" class="form-control" name="password2" id="password2">
                            </div>


                            <button class="btn btn-primary btn-lg filled" type="submit">Reset</button><br>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% include 'footer.html' %}
   </body>

</html>
